@import "variables";

@import "colors";
@import "forms";
@import "grid";
@import "links";
@import "lists";
@import "typography";

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
}
