@import "../../shared/styles/colors";

.class-table {
  border-collapse: collapse;

  td, th {
    border: 1px solid $yellow;
    padding: 0.25em 0.5em;
    vertical-align: top;
  }

  th {
    background-color: $yellow;
  }
}

.course-detail {
  padding: 1em 0;
}

.course-name {
  margin: 0 0 0.25rem;
}

.course-vitae {
  color: $gray;
}
